{"openapi":"3.1.0","info":{"title":"Legend Life - API Documentation","version":"1.0.0","description":"Authentication is required to access the API. Visit the [API Data Feed](https:\/\/www.legendlife.com.au\/integrations\/index\/) section of your Legend Life account to get your API key and learn more about the API usage. [Decoration workflow documentation](https:\/\/github.com\/room40coding\/legendlife-api-docs) is available in the public github repo."},"servers":[{"url":"https:\/\/api.legendlife.com.au\/v1\/","description":"Production"}],"security":[{"http":[]}],"paths":{"\/customer\/productStock":{"get":{"operationId":"customerProducts.stockLevels","summary":"Fetch stock levels for a given SKU","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"sku","in":"query","required":true,"description":"Provide a single specific product SKU.","schema":{"type":"string"},"example":"4171-BL"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"sku":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"stock":{"type":"array","items":{"type":"object","properties":{"location":{"type":"string"},"qty":{"type":"string"}},"required":["location","qty"]}}},"required":["sku","name","shortDescription","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/stylePricing":{"get":{"operationId":"customerProducts.stylePricing","summary":"Fetch pricing for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"pricing":{"type":"object","properties":{"qty1":{"type":"integer"},"price1":{"type":"number"},"qty2":{"type":"integer"},"price2":{"type":"number"},"qty3":{"type":"integer"},"price3":{"type":"number"},"qty4":{"type":"integer"},"price4":{"type":"number"},"qty5":{"type":"integer"},"price5":{"type":"number"}},"required":["qty1","price1"]}},"required":["styleCode","name","shortDescription","rrpPrice","pricing"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/styleStock":{"get":{"operationId":"customerProducts.styleStock","summary":"Fetch stock levels for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"stock":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"locations":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"stockLevel":{"type":"string"}},"required":["name","stockLevel"]}}},"required":["sku","locations"]}}},"required":["styleCode","name","shortDescription","rrpPrice","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/stylePricingAndStock":{"get":{"operationId":"customerProducts.stylePricingAndStock","summary":"Fetch both pricing and stock levels for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"pricing":{"type":"object","properties":{"qty1":{"type":"integer"},"price1":{"type":"number"},"qty2":{"type":"integer"},"price2":{"type":"number"},"qty3":{"type":"integer"},"price3":{"type":"number"},"qty4":{"type":"integer"},"price4":{"type":"number"},"qty5":{"type":"integer"},"price5":{"type":"number"}},"required":["qty1","price1"]},"stock":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"locations":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"stockLevel":{"type":"string"}},"required":["name","stockLevel"]}}},"required":["sku","locations"]}}},"required":["styleCode","name","shortDescription","rrpPrice","pricing","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/decorations\/canDecorate":{"get":{"operationId":"publicDecorations.canDecorate","summary":"Can the provided SKU(s) be decorated?","tags":["Decoration Pricing API"],"parameters":[{"name":"skus[]","in":"query","required":true,"description":"An array of SKUs for which the data is being requested. Example: skus[]=8001-BL.CW&skus[]=4007-BL.BOR-S.M","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"sku1":{"type":"boolean"},"sku2":{"type":"boolean"}},"required":["sku1","sku2"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationMoq":{"get":{"operationId":"publicDecorations.decorationMoq","summary":"Get the MOQ for a decoration type on a specific SKU","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"moq":{"type":"integer"}},"required":["moq"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationOption":{"get":{"operationId":"publicDecorations.decorationOption","summary":"Get the decoration options for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the decoration option.","schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/api\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"decorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":["string","null"]},"priceEachNumerical":{"type":["number","null"]},"availableOnline":{"type":"boolean"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]},"zAxisDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":["string","null"]},"priceEachNumerical":{"type":["number","null"]},"availableOnline":{"type":"boolean"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]}},"required":["decorationOption","zAxisDecorationOption"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationTypesSkus":{"get":{"operationId":"publicDecorations.decorationTypesSkus","summary":"Get the available decoration types given a list of SKUs","tags":["Decoration Pricing API"],"parameters":[{"name":"skus[]","in":"query","required":true,"description":"An array of SKUs for which the data is being requested. Example: skus[]=8001-BL.CW&skus[]=4007-BL.BOR-S.M","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationTypes":{"get":{"operationId":"publicDecorations.decorationTypes","description":"}","summary":"Get the available decoration types for a specific SKU","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU for which the data is requested.","schema":{"type":"string"},"example":"2110-BL"},{"name":"withPositions","in":"query","description":"Whether to include a count of the number of positions.","schema":{"type":"string"},"example":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"decorationPositionCount":{"type":"integer"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/allDecorationTypes":{"get":{"operationId":"publicDecorations.allDecorationTypes","summary":"Get the available all decoration types","tags":["Decoration Pricing API"],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorations\/decorationPositions":{"get":{"operationId":"publicDecorations.decorationPositions","summary":"Get the available decoration positions for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/logoSize":{"get":{"operationId":"publicDecorations.logoSize","summary":"Get the acceptable logo sizes for a SKU, decoration type, decoration position, and decoration item","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the logo size is being requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/api\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"minWidthMm":{"type":["integer","null"]},"maxWidthMm":{"type":["integer","null"]},"minHeightMm":{"type":["integer","null"]},"maxHeightMm":{"type":["integer","null"]},"minDiameterMm":{"type":["integer","null"]},"maxDiameterMm":{"type":["integer","null"]}},"required":["id","minWidthMm","maxWidthMm","minHeightMm","maxHeightMm","minDiameterMm","maxDiameterMm"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/informationSections":{"get":{"operationId":"publicDecorations.informationSections","summary":"Get the information sections for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"options":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"hasExtraInfo":{"type":"boolean"},"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"freeText":{"type":"boolean"},"extraInfo":{"type":["string","null"]}},"required":["id","name","freeText","extraInfo"]}},"required":["id","name","hasExtraInfo","items"]}},"required":["id","name","options"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/pricing":{"get":{"operationId":"publicDecorations.pricing","summary":"Get the decoration pricing for a SKU, decoration type, decoration item, z-axis decoration item at quantity","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"description":"The quantity of decorations being applied to the product.","schema":{"type":"number"},"example":100}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"each":{"type":"number"},"setupFee":{"type":"number"},"repeatSetupFee":{"type":"number"},"minimumCharge":{"type":"number"},"pricingQty":{"type":"integer"}},"required":["id","each","setupFee","repeatSetupFee","minimumCharge","pricingQty"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/pricingBreakpoints":{"get":{"operationId":"publicDecorations.pricingBreakpoints","summary":"Get the pricing breakpoints for a SKU, decoration type, decoration item, and z-axis decoration item","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"decorationType":{"type":"integer"},"decorationTypeName":{"type":"string"},"decorationItem":{"type":["integer","null"]},"decorationItemName":{"type":["string","null"]},"zAxisDecorationItem":{"type":["integer","null"]},"zAxisDecorationItemName":{"type":["string","null"]},"quantityBreaks":{"type":"array","items":{"type":"object","properties":{"minQty":{"type":["integer","null"]},"maxQty":{"type":["integer","null"]},"each":{"type":"number"},"setupFee":{"type":"number"},"repeatSetupFee":{"type":"number"}},"required":["minQty","maxQty","each","setupFee","repeatSetupFee"]}}},"required":["sku","decorationType","decorationTypeName","decorationItem","decorationItemName","zAxisDecorationItem","zAxisDecorationItemName","quantityBreaks"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/products":{"get":{"operationId":"publicProducts.list","summary":"Fetch a list of public base products. Supports pagination and SKU filtering","tags":["Generic Product Listings"],"parameters":[{"name":"sku","in":"query","description":"Provide a style code or a single SKU to filter the results.","schema":{"type":"string"},"example":"4171-BL"},{"name":"page","in":"query","description":"The current page number for pagination.","schema":{"type":"integer","minimum":1}},{"name":"pageSize","in":"query","description":"The number of products to return per page.\nDefault is 20, minimum is 1, maximum is 100.","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"description":{"type":"string"},"class":{"type":"string"},"sizesAvailable":{"type":"array","items":{"type":"string"}},"coloursAvailable":{"type":"array","items":{"type":"string"}},"brands":{"type":"array","items":{"type":"string"}},"usages":{"type":"array","items":{"type":"string"}},"decoration":{"type":["object","null"],"properties":{"decorationTypes":{"type":"array","items":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"}},"nameAndIds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}},"decorationPositions":{"type":"array","items":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"}},"logoSizes":{"type":["object","null"],"properties":{"maxWidthMm":{"type":["integer","null"]},"maxHeightMm":{"type":["integer","null"]},"maxDiameterMm":{"type":["integer","null"]}},"required":["maxWidthMm","maxHeightMm","maxDiameterMm"]}},"required":["names","logoSizes"]}}},"required":["names","nameAndIds","decorationPositions"]}}},"required":["decorationTypes"]},"fabricTypes":{"type":"array","items":{"type":"string"}},"genders":{"type":"array","items":{"type":"string"}},"range":{"type":"array","items":{"type":"string"}},"bagCapacity":{"type":"array","items":{"type":"string"}},"bagFeatures":{"type":"array","items":{"type":"string"}},"capStructure":{"type":"array","items":{"type":"string"}},"umbrellaOpening":{"type":"array","items":{"type":"string"}},"categorisation":{"type":"array","items":{"type":"string"}},"specifications":{"type":"array","items":{"type":"string"}},"cartonSpecifications":{"type":"array","items":{"type":"string"}},"images":{"type":["object","null"],"properties":{"baseImage":{"type":"array","items":{"type":"string"}},"altImages":{"type":"array","items":{"type":"string"}}},"required":["baseImage","altImages"]},"url":{"type":"string"},"skus":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"description":{"type":"string"},"searchColours":{"type":"array","items":{"type":"string"}},"colours":{"type":"array","items":{"type":"string"}},"sizes":{"type":"array","items":{"type":"string"}},"image":{"type":"array","items":{"type":"string"}}},"required":["sku","name","shortDescription","description","searchColours","colours","sizes","image"]}}},"required":["styleCode","name","shortDescription","description","class","sizesAvailable","coloursAvailable","brands","usages","decoration","fabricTypes","genders","range","bagCapacity","bagFeatures","capStructure","umbrellaOpening","categorisation","specifications","cartonSpecifications","images","url","skus"]}},"currentPage":{"type":"integer"},"lastPage":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"}},"required":["data","currentPage","lastPage","perPage","total"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":""}},"responses":{"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}},"AuthorizationException":{"description":"Authorization error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}