{"openapi":"3.1.0","info":{"title":"Legend Life - API Documentation","version":"1.0.0","description":"Authentication is required to access the API. Visit the [API Data Feed](https:\/\/www.legendlife.com.au\/integrations\/index\/) section of your Legend Life account to get your API key and learn more about the API usage. [Decoration workflow documentation](https:\/\/github.com\/room40coding\/legendlife-api-docs) is available in the public github repo."},"servers":[{"url":"https:\/\/api.legendlife.com.au\/v1\/","description":"Production"}],"security":[{"http":[]}],"paths":{"\/customer\/productStock":{"get":{"operationId":"customerProducts.stockLevels","summary":"Fetch stock levels for a given SKU","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"sku","in":"query","required":true,"description":"Provide a single specific product SKU.","schema":{"type":"string"},"example":"4171-BL"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"sku":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"stock":{"type":"array","items":{"type":"object","properties":{"location":{"type":"string"},"qty":{"type":"string"}},"required":["location","qty"]}}},"required":["sku","name","shortDescription","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/stylePricing":{"get":{"operationId":"customerProducts.stylePricing","summary":"Fetch pricing for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"pricing":{"type":"object","properties":{"qty1":{"type":"integer"},"price1":{"type":"number"},"qty2":{"type":"integer"},"price2":{"type":"number"},"qty3":{"type":"integer"},"price3":{"type":"number"},"qty4":{"type":"integer"},"price4":{"type":"number"},"qty5":{"type":"integer"},"price5":{"type":"number"}},"required":["qty1","price1"]}},"required":["styleCode","name","shortDescription","rrpPrice","pricing"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/styleStock":{"get":{"operationId":"customerProducts.styleStock","summary":"Fetch stock levels for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"stock":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"locations":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"stockLevel":{"type":"string"}},"required":["name","stockLevel"]}}},"required":["sku","locations"]}}},"required":["styleCode","name","shortDescription","rrpPrice","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/customer\/stylePricingAndStock":{"get":{"operationId":"customerProducts.stylePricingAndStock","summary":"Fetch both pricing and stock levels for a given style code","tags":["Product Pricing & Stock Levels"],"parameters":[{"name":"styleCode","in":"query","required":true,"description":"Provide a style code.","schema":{"type":"string"},"example":"4171"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"rrpPrice":{"type":"number"},"pricing":{"type":"object","properties":{"qty1":{"type":"integer"},"price1":{"type":"number"},"qty2":{"type":"integer"},"price2":{"type":"number"},"qty3":{"type":"integer"},"price3":{"type":"number"},"qty4":{"type":"integer"},"price4":{"type":"number"},"qty5":{"type":"integer"},"price5":{"type":"number"}},"required":["qty1","price1"]},"stock":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"locations":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"stockLevel":{"type":"string"}},"required":["name","stockLevel"]}}},"required":["sku","locations"]}}},"required":["styleCode","name","shortDescription","rrpPrice","pricing","stock"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/decorations\/canDecorate":{"get":{"operationId":"publicDecorations.canDecorate","summary":"Can the provided SKU(s) be decorated?","tags":["Decoration Pricing API"],"parameters":[{"name":"skus[]","in":"query","required":true,"description":"An array of SKUs for which the data is being requested. Example: skus[]=8001-BL.CW&skus[]=4007-BL.BOR-S.M","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"sku1":{"type":"boolean"},"sku2":{"type":"boolean"}},"required":["sku1","sku2"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationMoq":{"get":{"operationId":"publicDecorations.decorationMoq","summary":"Get the MOQ for a decoration type on a specific SKU.\nIf decorationType is not provided, returns MOQs for all applicable decoration types","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"moq":{"type":"integer"}},"required":["moq"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationOption":{"get":{"operationId":"publicDecorations.decorationOption","summary":"Get the decoration options for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the decoration option.","schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/api\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"decorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":["string","null"]},"priceEachNumerical":{"type":["number","null"]},"availableOnline":{"type":"boolean"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]},"zAxisDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":["string","null"]},"priceEachNumerical":{"type":["number","null"]},"availableOnline":{"type":"boolean"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]}},"required":["decorationOption","zAxisDecorationOption"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationTypesSkus":{"get":{"operationId":"publicDecorations.decorationTypesSkus","summary":"Get the available decoration types given a list of SKUs","tags":["Decoration Pricing API"],"parameters":[{"name":"skus[]","in":"query","required":true,"description":"An array of SKUs for which the data is being requested. Example: skus[]=8001-BL.CW&skus[]=4007-BL.BOR-S.M","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/decorationTypes":{"get":{"operationId":"publicDecorations.decorationTypes","summary":"Get the available decoration types for a specific SKU","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU for which the data is requested.","schema":{"type":"string"},"example":"2110-BL"},{"name":"withPositions","in":"query","description":"Whether to include a count of the number of positions.","schema":{"type":"string"},"example":true}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"decorationPositionCount":{"type":"integer"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/allDecorationTypes":{"get":{"operationId":"publicDecorations.allDecorationTypes","summary":"Get all the available decoration types","tags":["Decoration Pricing API"],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorations\/decorationPositions":{"get":{"operationId":"publicDecorations.decorationPositions","summary":"Get the available decoration positions for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/logoSize":{"get":{"operationId":"publicDecorations.logoSize","summary":"Get the acceptable logo sizes for a SKU, decoration type, decoration position, and decoration item","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the logo size is being requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/api\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"minWidthMm":{"type":["integer","null"]},"maxWidthMm":{"type":["integer","null"]},"minHeightMm":{"type":["integer","null"]},"maxHeightMm":{"type":["integer","null"]},"minDiameterMm":{"type":["integer","null"]},"maxDiameterMm":{"type":["integer","null"]}},"required":["id","minWidthMm","maxWidthMm","minHeightMm","maxHeightMm","minDiameterMm","maxDiameterMm"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/informationSections":{"get":{"operationId":"publicDecorations.informationSections","summary":"Get the information sections for a SKU and decoration type","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"options":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"hasExtraInfo":{"type":"boolean"},"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"freeText":{"type":"boolean"},"extraInfo":{"type":["string","null"]}},"required":["id","name","freeText","extraInfo"]}},"required":["id","name","hasExtraInfo","items"]}},"required":["id","name","options"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/pricing":{"get":{"operationId":"publicDecorations.pricing","summary":"Get the decoration pricing for a SKU, decoration type, decoration item, z-axis decoration item at quantity","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"description":"The quantity of decorations being applied to the product.","schema":{"type":"number"},"example":100}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"each":{"type":"number"},"setupFee":{"type":"number"},"repeatSetupFee":{"type":"number"},"minimumCharge":{"type":"number"},"pricingQty":{"type":"integer"}},"required":["id","each","setupFee","repeatSetupFee","minimumCharge","pricingQty"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/pricingBreakpoints":{"get":{"operationId":"publicDecorations.pricingBreakpoints","summary":"Get the pricing breakpoints for a SKU, decoration type, decoration item, and z-axis decoration item","tags":["Decoration Pricing API"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/api\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/api\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"sku":{"type":"string"},"decorationType":{"type":"integer"},"decorationTypeName":{"type":"string"},"decorationItem":{"type":["integer","null"]},"decorationItemName":{"type":["string","null"]},"zAxisDecorationItem":{"type":["integer","null"]},"zAxisDecorationItemName":{"type":["string","null"]},"quantityBreaks":{"type":"array","items":{"type":"object","properties":{"minQty":{"type":["integer","null"]},"maxQty":{"type":["integer","null"]},"each":{"type":"number"},"setupFee":{"type":"number"},"repeatSetupFee":{"type":"number"}},"required":["minQty","maxQty","each","setupFee","repeatSetupFee"]}}},"required":["sku","decorationType","decorationTypeName","decorationItem","decorationItemName","zAxisDecorationItem","zAxisDecorationItemName","quantityBreaks"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorations\/pricingGrid":{"get":{"operationId":"publicDecorations.pricingGrid","description":"`groupings` is every decoration grouping available for online ordering,\neach with its decoration type, its selectable decoration items, its z-axis\nitems where it has them, and its complete quantity-break price rows.\n`styles` maps each style code to the groupings that style may be decorated\nwith. Together they are everything needed to quote decoration offline.\n\nThis replaces a per-(sku, decoration type, decoration item, z-axis item)\nfan-out over `\/decorations\/pricingBreakpoints`: pull the grid once, cache\nit, and price any decoration on any style at any quantity from your own\ndatabase. Only groupings that can actually be ordered online appear \u2014\nprecisely the set the per-SKU decoration endpoints serve \u2014 so the grid\nnever offers a decoration method Legend Life will not take online. SYSPRO\ncharge and stock codes are withheld.\n\n### Pricing a decoration from the grid\n\nLook the style code up in `styles`, take one of the groupings it lists,\nand read that grouping's `prices` rows for the `decorationItem` you are\nquoting \u2014 and for `zAxisDecorationItem`, which is `null` on rows for\ngroupings that have no z-axis. Select the row whose quantity break\ncontains your quantity: `minQty` and `maxQty` are both inclusive, and\n`null` means unbounded on that side \u2014 except that a row with neither\nbound set covers no quantity at all, which is how our own reads treat it.\nDo not quote below the `moq` that `styles` gives for that style and\ngrouping.\n\n**Within one grouping, where two rows for the same decoration item and\nz-axis item both cover your quantity, the lowest `each` applies.** The\nconfiguration permits overlapping quantity breaks and Legend Life's own\nper-SKU pricing read resolves an overlap that way.\n\nThat rule is per grouping and does not extend across them. Where a style\nlists several groupings that could carry the same decoration, our per-SKU\nread prices against one of them rather than taking the cheapest of all, so\ndo not assume the lowest `each` across groupings is the price we will\ncharge. Ask `pricing` for an exact SKU and quantity when a style's\ngroupings overlap and the difference matters.\n\n`each` is the price of one pricing unit and `pricingQty` is how many of\nthose units the row covers \u2014 `1` on an ordinary row. Above `1` it is the\nmultiplier carried by a decoration item that decorates several places at\nonce, an umbrella's panels being the usual case: `each` is then the price\nper panel, and `each * pricingQty` is the price of that decoration item at\nthat break, which is what decorating one product with it costs. The two\nare split so `each` stays comparable per unit.\n\n`minimumCharge` is the least the decoration will be charged at however\nsmall the run, and `0` where there is no minimum; quoting without it\nunder-charges small orders.\n\n`decorationType` is `null` on a grouping whose decoration type has since\nbeen retired.\n\n### The style map\n\n`styles` is a JSON object keyed by style code \u2014 `{}` when empty, never an\narray \u2014 whose values list `{grouping, moq}` pairs. Every grouping id it\nnames appears in `groupings`. The map is complete by construction, so **a\nstyle code absent from `styles` means there is no online decoration\npricing for that style**: an answer, not missing data.\n\nIt answers per style, not per SKU. Where one style's SKUs sit in several\nproduct classes, its list is the union across them and its `moq` the\nlowest that applies to any of them, so a colour or size of that style can\nin principle be narrower than the style's own entry. Quote from the grid;\n`\/decorations\/decorationTypes` and `\/decorations\/decorationMoq` answer for\nan exact SKU when you need one.\n\n### Keeping a cached copy in step\n\n`hash` is a content hash over the whole grid, excluding `generatedAt`, and\nis also returned as the `ETag` header. Send it back on the next pull as\n`If-None-Match` \u2014 quoted as the header gave it, or bare as the body\npublished it \u2014 and an unchanged grid answers `304 Not Modified` with no\nbody, so a nightly sync transfers nothing on a quiet day. A changed grid\nanswers `200` with the new payload and a new `hash`.\n\n`generatedAt` is when the grid was composed, not when it was served: the\npayload is cached for up to an hour, so a `200` can carry a `generatedAt`\nolder than the request. Saving a price or configuration change queues a\nflush of that cache, so a change normally reaches the next pull rather\nthan waiting the hour out.\n\nOne exception: the product catalogue itself is synced on its own schedule\nand does not queue that flush. A style newly added, withdrawn or\nreclassified can therefore take up to the full hour to appear in, or leave,\n`styles` \u2014 and until it does the `ETag` is unchanged, so a conditional pull\nanswers `304`. Treat `styles` as accurate to within one hour of the product\ncatalogue, and `groupings` as immediate.","summary":"Get the whole online decoration price grid in one response","tags":["Decoration Pricing API"],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"hash":{"type":"string"},"generatedAt":{"type":"string"},"groupings":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"decorationType":{"type":["object","null"],"properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}},"zAxisItems":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}},"prices":{"type":"array","items":{"type":"object","properties":{"decorationItem":{"type":"integer"},"zAxisDecorationItem":{"type":["integer","null"]},"minQty":{"type":["integer","null"]},"maxQty":{"type":["integer","null"]},"each":{"type":"number"},"setupFee":{"type":["number","null"]},"repeatSetupFee":{"type":["number","null"]},"minimumCharge":{"type":["number","null"]},"pricingQty":{"type":"number"}},"required":["decorationItem","zAxisDecorationItem","minQty","maxQty","each","setupFee","repeatSetupFee","minimumCharge","pricingQty"]}}},"required":["id","name","decorationType","items","zAxisItems","prices"]}},"styles":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"grouping":{"type":"integer"},"moq":{"type":"integer"}},"required":["grouping","moq"]}}}},"required":["hash","generatedAt","groupings","styles"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorations\/bootstrap":{"get":{"operationId":"publicDecorations.bootstrap","description":"Returns a `blocks` array where each entry contains the SKU, qty, can_decorate flag,\nversion, and a list of type blocks (one per available decoration type) with cross-set\nconflicts filled. Supports 304 Not Modified via If-None-Match \/ ETag.","summary":"Bootstrap decoration data for one or more products in a single request","tags":["Decoration Pricing API"],"parameters":[{"name":"products","in":"query","required":true,"description":"An array of products to bootstrap decoration data for.","schema":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string","description":"The SKU of the product.","example":"8001-BL.CW","maxLength":255},"qty":{"type":"integer","description":"The quantity for this product.","example":50,"minimum":1}},"required":["sku","qty"]},"minItems":1},"example":"[['sku' => '8001-BL.CW', 'qty' => 50]]"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}},"\/products":{"get":{"operationId":"publicProducts.list","summary":"Fetch a list of public base products. Supports pagination and SKU filtering","tags":["Generic Product Listings"],"parameters":[{"name":"sku","in":"query","description":"Provide a style code or a single SKU to filter the results.","schema":{"type":"string"},"example":"4171-BL"},{"name":"page","in":"query","description":"The current page number for pagination.","schema":{"type":"integer","minimum":1}},{"name":"pageSize","in":"query","description":"The number of products to return per page.\nDefault is 20, minimum is 1, maximum is 100.","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"styleCode":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"description":{"type":"string"},"class":{"type":"string"},"sizesAvailable":{"type":"array","items":{"type":"string"}},"coloursAvailable":{"type":"array","items":{"type":"string"}},"brands":{"type":"array","items":{"type":"string"}},"usages":{"type":"array","items":{"type":"string"}},"decoration":{"type":["object","null"],"properties":{"decorationTypes":{"type":"array","items":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"}},"nameAndIds":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}},"decorationPositions":{"type":"array","items":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"}},"logoSizes":{"type":["object","null"],"properties":{"maxWidthMm":{"type":["integer","null"]},"maxHeightMm":{"type":["integer","null"]},"maxDiameterMm":{"type":["integer","null"]}},"required":["maxWidthMm","maxHeightMm","maxDiameterMm"]}},"required":["names","logoSizes"]}},"umbrellaDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}},"required":["id","name","items"]},"umbrellaZAxisDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}},"required":["id","name","items"]}},"required":["names","nameAndIds","decorationPositions"]}}},"required":["decorationTypes"]},"fabricTypes":{"type":"array","items":{"type":"string"}},"genders":{"type":"array","items":{"type":"string"}},"range":{"type":"array","items":{"type":"string"}},"bagCapacity":{"type":"array","items":{"type":"string"}},"bagFeatures":{"type":"array","items":{"type":"string"}},"capStructure":{"type":"array","items":{"type":"string"}},"umbrellaOpening":{"type":"array","items":{"type":"string"}},"categorisation":{"type":"array","items":{"type":"string"}},"specifications":{"type":"array","items":{"type":"string"}},"cartonSpecifications":{"type":"array","items":{"type":"string"}},"images":{"type":["object","null"],"properties":{"baseImage":{"type":"array","items":{"type":"string"}},"altImages":{"type":"array","items":{"type":"string"}}},"required":["baseImage","altImages"]},"url":{"type":"string"},"skus":{"type":"array","items":{"type":"object","properties":{"sku":{"type":"string"},"name":{"type":"string"},"shortDescription":{"type":"string"},"description":{"type":"string"},"searchColours":{"type":"array","items":{"type":"string"}},"colours":{"type":"array","items":{"type":"string"}},"sizes":{"type":"array","items":{"type":"string"}},"image":{"type":"array","items":{"type":"string"}}},"required":["sku","name","shortDescription","description","searchColours","colours","sizes","image"]}}},"required":["styleCode","name","shortDescription","description","class","sizesAvailable","coloursAvailable","brands","usages","decoration","fabricTypes","genders","range","bagCapacity","bagFeatures","capStructure","umbrellaOpening","categorisation","specifications","cartonSpecifications","images","url","skus"]}},"currentPage":{"type":"integer"},"lastPage":{"type":"integer"},"perPage":{"type":"integer"},"total":{"type":"integer"}},"required":["data","currentPage","lastPage","perPage","total"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"},"403":{"$ref":"#\/components\/responses\/AuthorizationException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":""}},"responses":{"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}},"AuthorizationException":{"description":"Authorization error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}