{"openapi":"3.1.0","info":{"title":"Legend Life - Decoration API Documentation","version":"0.0.1"},"servers":[{"url":"https:\/\/api.legendlife.com.au\/decorations\/v1\/","description":"Prod"}],"paths":{"\/canDecorate":{"get":{"operationId":"onlineDecoration.canDecorate","summary":"Whether a product can be decorated","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationMoq":{"get":{"operationId":"onlineDecoration.decorationMoq","summary":"Returns the minimum order quantity (MOQ) for a decoration type on a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of a decorationType provided by \/decorationTypes","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationOption":{"get":{"operationId":"onlineDecoration.decorationOption","summary":"Returns the decoration options for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"decorationOption":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"items":{"type":"string"}},"required":["id","name","items"]},"zAxisDecorationOption":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"items":{"type":"string"}},"required":["id","name","items"]}},"required":["decorationOption","zAxisDecorationOption"]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationTypesSkus":{"get":{"operationId":"onlineDecoration.decorationTypesSkus","summary":"Returns the available decoration types given a list of SKUs","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationTypes":{"get":{"operationId":"onlineDecoration.decorationTypes","summary":"Returns the available decoration types for a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"schema":{"type":"string"}},{"name":"withPositions","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"string"}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationPositions":{"get":{"operationId":"onlineDecoration.decorationPositions","summary":"Returns the available decoration positions for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of a decorationType provided by \/decorationTypes","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/decorationSections":{"get":{"operationId":"onlineDecoration.decorationSections","summary":"Returns the decoration sections for a decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"decorationType","in":"query","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"colour":{"type":"string"}},"required":["colour"]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/logoSize":{"get":{"operationId":"onlineDecoration.logoSize","summary":"Returns the logo size for a SKU and decoration type, optionally with a decoration position and decoration item","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"`LogoSize`","content":{"application\/json":{"schema":{"anyOf":[{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/LogoSize"}},"required":["data"]},{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/informationSections":{"get":{"operationId":"onlineDecoration.informationSections","summary":"Returns the information sections for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of a decorationType provided by \/decorationTypes","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"},"minItems":0,"maxItems":0,"additionalItems":false}]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}},"\/pricing":{"get":{"operationId":"onlineDecoration.pricing","summary":"Returns the pricing for a SKU, decoration type, decoration item, z-axis decoration item and quantity","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"schema":{"type":"integer"}},{"name":"decorationItem","in":"query","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"`Pricing`","content":{"application\/json":{"schema":{"anyOf":[{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Pricing"}},"required":["data"]},{"type":"null"}]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}}},"components":{"schemas":{"LogoSize":{"type":"string","title":"LogoSize"},"Pricing":{"type":"string","title":"Pricing"}},"responses":{"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}}}}}