{"openapi":"3.1.0","info":{"title":"Legend Life - Decoration API Documentation","version":"1.0.0","description":"Authentication is required to access the API. Visit the [API Data Feed](https:\/\/www.legendlife.com.au\/integrations\/index\/) to get your API key and learn more about the API usage."},"servers":[{"url":"https:\/\/api.legendlife.com.au\/decorations\/v1\/","description":"Prod"}],"security":[{"http":[]}],"paths":{"\/canDecorate":{"get":{"operationId":"publicDecorations.canDecorate","summary":"Can the provided SKU(s) be decorated?","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"description":"An array of SKUs for which the data is being requested.","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"8001-BL.CW":{"type":"boolean"},"4007-BL.BOR-S.M":{"type":"boolean"}},"required":["8001-BL.CW","4007-BL.BOR-S.M"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationMoq":{"get":{"operationId":"publicDecorations.decorationMoq","summary":"Get the MOQ for a decoration type on a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"moq":{"type":"integer"}},"required":["moq"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationOption":{"get":{"operationId":"publicDecorations.decorationOption","summary":"Get the decoration options for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the decoration option.","schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/decorations\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"decorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":"string"},"priceEachNumerical":{"type":"string"},"availableOnline":{"type":"string"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]},"zAxisDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":"string"},"priceEachNumerical":{"type":"string"},"availableOnline":{"type":"string"}},"required":["id","name","priceEach","priceEachNumerical","availableOnline"]}}},"required":["id","name","items"]}},"required":["decorationOption","zAxisDecorationOption"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationTypesSkus":{"get":{"operationId":"publicDecorations.decorationTypesSkus","description":"}","summary":"Get the available decoration types given a list of SKUs","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"description":"An array of SKUs for which the data is being requested.","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationTypes":{"get":{"operationId":"publicDecorations.decorationTypes","description":"}","summary":"Get the available decoration types for a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU for which the data is requested.","schema":{"type":"string"},"example":"2110-BL"},{"name":"withPositions","in":"query","description":"Whether to include a count of the number of positions.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"decorationPositionCount":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationPositions":{"get":{"operationId":"publicDecorations.decorationPositions","summary":"Get the available decoration positions for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/logoSize":{"get":{"operationId":"publicDecorations.logoSize","summary":"Get the acceptable logo sizes for a SKU, decoration type, decoration position, and decoration item","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the logo size is being requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/decorations\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"minWidthMm":{"type":"string"},"maxWidthMm":{"type":"string"},"minHeightMm":{"type":"string"},"maxHeightMm":{"type":"string"},"minDiameterMm":{"type":"string"},"maxDiameterMm":{"type":"string"}},"required":["id","minWidthMm","maxWidthMm","minHeightMm","maxHeightMm","minDiameterMm","maxDiameterMm"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/informationSections":{"get":{"operationId":"publicDecorations.informationSections","summary":"Get the information sections for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the data is being requested.","schema":{"type":"string","maxLength":255},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"options":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"hasExtraInfo":{"type":"boolean"},"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"freeText":{"type":"boolean"},"extraInfo":{"type":["string","null"]}},"required":["id","name","freeText","extraInfo"]}},"required":["id","name","hasExtraInfo","items"]}},"required":["id","name","options"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/pricing":{"get":{"operationId":"publicDecorations.pricing","summary":"Get the decoration pricing for a SKU, decoration type, decoration item, z-axis decoration item at quantity","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"description":"The quantity of decorations being applied to the product.","schema":{"type":"number"},"example":100}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"each":{"type":"number"},"setupFee":{"type":"number"},"repeatSetupFee":{"type":"number"},"minimumCharge":{"type":"number"},"pricingQty":{"type":"integer"}},"required":["id","each","setupFee","repeatSetupFee","minimumCharge","pricingQty"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":""}},"responses":{"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}}}}}