{"openapi":"3.1.0","info":{"title":"Legend Life - Decoration API Documentation","version":"0.0.1"},"servers":[{"url":"https:\/\/api.legendlife.com.au\/decorations\/v1\/","description":"Prod"}],"paths":{"\/canDecorate":{"get":{"operationId":"publicDecorations.canDecorate","summary":"Provided an array of SKUs, returns an array, keyed by SKU, of whether the SKU can be decorated","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"description":"An array of SKUs for which the data is being requested.","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"sku1":{"type":"boolean"},"sku2":{"type":"boolean"},"sku3":{"type":"boolean"}},"required":["sku1","sku2","sku3"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationMoq":{"get":{"operationId":"publicDecorations.decorationMoq","summary":"Returns the minimum order quantity (MOQ) for a decoration type on a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"moq":{"type":"integer"}},"required":["moq"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationOption":{"get":{"operationId":"publicDecorations.decorationOption","summary":"Returns the decoration options for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the decoration option.","schema":{"type":"string"}},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/decorations\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"decorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":"string"},"availableOnline":{"type":"string"}},"required":["id","name","priceEach","availableOnline"]}}},"required":["id","name","items"]},"zAxisDecorationOption":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"items":{"type":"object","additionalProperties":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"priceEach":{"type":"string"},"availableOnline":{"type":"string"}},"required":["id","name","priceEach","availableOnline"]}}},"required":["id","name","items"]}},"required":["decorationOption","zAxisDecorationOption"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationTypesSkus":{"get":{"operationId":"publicDecorations.decorationTypesSkus","description":"}","summary":"Returns the available decoration types given a list of SKUs","tags":["OnlineDecoration"],"parameters":[{"name":"skus","in":"query","required":true,"description":"An array of SKUs for which the data is being requested.","schema":{"type":"array","items":{"type":"string","description":"The SKU of the product for which the data is being requested.","example":"8001-BL.CW"}},"example":"['8001-BL.CW', '4007-BL.BOR-S.M']"}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationTypes":{"get":{"operationId":"publicDecorations.decorationTypes","description":"}","summary":"Returns the available decoration types for a specific SKU","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU for which the data is requested.","schema":{"type":"string"},"example":"2110-BL"},{"name":"withPositions","in":"query","description":"Whether to include a count of the number of positions.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"decorationPositionCount":{"type":"string"}},"required":["id","name"]}}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/decorationPositions":{"get":{"operationId":"publicDecorations.decorationPositions","summary":"Returns the available decoration positions for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}},"required":["id","name"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/logoSize":{"get":{"operationId":"publicDecorations.logoSize","summary":"Returns the logo size for a SKU and decoration type, optionally with a decoration position and decoration item","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which the logo size is being requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationPosition","in":"query","description":"The ID of the decoration position requested, returned by the\n`\/decorations\/v1\/decorationPositions` endpoint.","schema":{"type":["integer","null"]}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned in the items property of the Decoration Options\nprovided by the `\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"integer"},"minWidthMm":{"type":"string"},"maxWidthMm":{"type":"string"},"minHeightMm":{"type":"string"},"maxHeightMm":{"type":"string"},"minDiameterMm":{"type":"string"},"maxDiameterMm":{"type":"string"}},"required":["id","minWidthMm","maxWidthMm","minHeightMm","maxHeightMm","minDiameterMm","maxDiameterMm"]}},"required":["data"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/informationSections":{"get":{"operationId":"publicDecorations.informationSections","summary":"Returns the information sections for a SKU and decoration type","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU string for the decoration type.","schema":{"type":"string"},"example":"4007-BL.BOR-S.M"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"options":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"hasExtraInfo":{"type":"boolean"},"items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"freeText":{"type":"boolean"},"extraInfo":{"type":["string","null"]}},"required":["id","name","freeText","extraInfo"]}},"required":["id","name","hasExtraInfo","items"]}},"required":["id","name","options"]}}}},"401":{"$ref":"#\/components\/responses\/AuthenticationException"},"422":{"$ref":"#\/components\/responses\/ValidationException"}}}},"\/pricing":{"get":{"operationId":"publicDecorations.pricing","summary":"Returns the pricing for a SKU, decoration type, decoration item, z-axis decoration item and quantity","tags":["OnlineDecoration"],"parameters":[{"name":"sku","in":"query","required":true,"description":"The SKU of the product for which pricing is requested.","schema":{"type":"string"},"example":"8001-BL.CW"},{"name":"decorationType","in":"query","required":true,"description":"The ID of the decoration type requested, returned by the\n`\/decorations\/v1\/decorationTypes` endpoint.","schema":{"type":"integer"}},{"name":"decorationItem","in":"query","description":"The ID of the decoration item requested, returned by the\n`\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"zAxisDecorationItem","in":"query","description":"The ID of the z-axis decoration item requested, returned by the\n`\/decorations\/v1\/decorationOptions` endpoint.","schema":{"type":["integer","null"]}},{"name":"qty","in":"query","required":true,"schema":{"type":"number"}}],"responses":{"200":{"description":"`Pricing`","content":{"application\/json":{"schema":{"anyOf":[{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/Pricing"}},"required":["data"]},{"type":"null"}]}}}},"422":{"$ref":"#\/components\/responses\/ValidationException"},"401":{"$ref":"#\/components\/responses\/AuthenticationException"}}}}},"components":{"schemas":{"Pricing":{"type":"string","title":"Pricing"}},"responses":{"AuthenticationException":{"description":"Unauthenticated","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ValidationException":{"description":"Validation error","content":{"application\/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}}}}}